
.logContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logContainer h1 {
    font-size: 1.2rem;
    color: #b4b2a7;
    font-weight: 500;

    
}

.button {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.button a {
    text-decoration: none;
    color: black;
    background-color: #1cce30;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.7rem;
    transition: 1s;
}

.button a:hover {
    background-color: #66ff78;
    transition: 1s;

}

.logo{
    margin: 0 auto;
    width: 400px;
}